body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 50px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin-bottom: 20px;
}

.cell {
  border: 2px solid #000;
  font-size: 2rem;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
}
